__pycache__/
.DS_Store
Thumbs.db
*.swp
kinetic.db
.env
venv
.venv
*.pyc
logfile
config.yml
newrelic.ini
html/
.figleaf
kinetic/kinetic/static/
kinetic/static/
database.sqlite
env
typescript
.idea
kinetic/kinetic/custom_settings.py
*.sublime-project
*.sublime-workspace
kinetic/.floo
kinetic/.flooignore
django_env
*.sqlite
kinetic/kinetic/db.sqlite
celerybeat-schedule
kinetic/zendesk/apps/*/tmp
CACHE/
.sass-cache
ios_env.sh
*#*#*
__pycache__/
.vagrant
*.dump
ghostdriver.log
.noseids
.coverage
.ipynb_checkpoints
*.ipynb
*.ropeproject
bellhops_env.sh
*.box
*:*.png*
.grunt/
node_modules/
*.css
*.css.map
*.sass-cache*
npm-debug.log
kinetic/celerybeat.pid
.tags
\*
